<p id="notice"><%= notice %></p>

<h1>Listing Applied Labels</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Label</th>
      <th>Daily special</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applied_labels.each do |applied_label| %>
      <tr>
        <td><%= applied_label.item_id %></td>
        <td><%= applied_label.label_id %></td>
        <td><%= applied_label.daily_special %></td>
        <td><%= applied_label.day %></td>
        <td><%= link_to 'Show', applied_label %></td>
        <td><%= link_to 'Edit', edit_applied_label_path(applied_label) %></td>
        <td><%= link_to 'Destroy', applied_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applied label', new_applied_label_path %>
